:root {
  --clr-moderate-violet: 263, 55%, 52%;
  --clr-very-dark-blue: 217, 19%, 35%;
  --clr-very-dark-black: 219, 29%, 14%;
  --clr-white: 0, 0%, 100%;
  --text-base: 0, 0%, 81%;
  --bg: 210, 46%, 95%;
}