@layer root, reset;

@import url(styles/reset.css) layer(reset);
@import url(styles/root.css) layer(reset);
@import url(styles/base.css) layer(base);

.sign{
  flex-direction: column-reverse;

  @media (width >= 48rem) {
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
  }
}

.sign-content {
  padding: 2.5rem 1.5rem 2.75rem;
  display: grid;
  gap: 1.5rem;

  & h1 {
    font-size: var(--fs-base);
    font-weight: var(--fw-bold);
  }

  @media (width >= 48rem) {
    --fs-heading: 3.375rem;
    padding: 3.625rem 2.5rem;
    place-content: center;
    margin: auto;

    & h1 {
      font-size: var(--fs-heading);
    }
  }
}

.sign-list {
  display: grid;
  gap: 1rem;
}

.sign-item {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.sign-item img {
  width: 1.25rem;
  aspect-ratio: 1;
}


.sign-picture img{
  
  object-fit: cover;
  height: 100%;
  max-height: 17.75rem;

  @media (width >= 48rem) {
    width: 25rem;
    max-height: 100%;
    border-radius: 1rem;
  }
}

.sign-form {
  margin-top: 1.5rem;
  display: grid;
  gap: 1.5rem;
}

[data-correct='true'] .sign-email div,
.sign-email div {
  display: flex;
  font-size: 0.75rem;
  justify-content: space-between;
  margin-bottom: 0.5rem;

  & label {
    font-weight: bold;
  }

  & p {
    color: hsl(var(--error));
    font-weight: var(--fw-bold);
    display: none;
  }
}

[data-correct='false'] .sign-email div p{
  display: block;
}

[data-correct='true'] .sign-email input,
.sign-email input {
  width: 100%;
  padding: 1.125rem 1.5rem;
  border: 1px solid var(--input-placeholder);
  border-radius: 0.5rem;
  color: var(--input-placeholder);
  transition: all 250ms ease-in-out;

  &:focus {
    border-color: var(--text);
    color: var(--text);
  }
}

[data-correct='false'] .sign-email input,
[data-correct='false'] .sign-email input:focus-within,
[aria-invalid='true'] {
  border-color: hsl(var(--error));
  background: hsl(var(--error), 0.1);;
  color: hsl(var(--error));
}

.btn {
  padding: 1.25rem 1.5rem;
  background: var(--text);
  color: var(--card-bg);
  border-radius: 0.5rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 0px 0px 0px ;
}

.btn:hover,
.btn:focus,
.btn:focus-within,
.btn:active {
  background: linear-gradient(90deg, #FF5869, #FF644A);
  box-shadow: 2px 3px 10px 3px #ff586941;
}
/* Media query */

.subscribe {

  padding: 2.5rem 1.5rem;


  & img {
    margin-top: 7.75rem;
    width: 4rem;

    @media (width >= 25rem) {
      margin-top: 0;
    }
  }

  & .btn {
    width: 100%;
  }
}

.subscribe-content {
  margin-block: 2.75rem  16.5rem;
  display: grid;

  gap: 1.5rem;

  & h2 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  @media (width >= 25rem) {
    margin-block: 2.75rem;

    & h2 {
      font-size: 3.375rem;
    }
  }

}



